@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Tudo Funciona, Menos O DELETE, ele leva pra uma pagina estranha "https://localhost:7148/Users/DeleteConfirmed"</a>.</p>
</div>
